// COLORS
$primary-color: #0085e4;
$secondary-color: #00d0ff;

$white-color: #1f1e1e;

$dark-grey: #ffffff;
$light-grey: #d2d2d2;

$dark-blue-text: #fefefe; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
